<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/cgame.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Sulphur+Point&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Color Game</title>
  </head>
  <body>
  <div class="headline">
THE GREAT <br><span class="rgb">rgb(0, 255, 255)</span><br> GUESSING GAME
  </div>
  <div class="small">
  <button class="but1 " type="button" name="button">NEW COLORS</button>
  <span class="result"></span>
  <button class="but2" type="button" name="button">EASY</button>
  <button class="but3" type="button" name="button">HARD</button>
  </div>
<br>
<div id="container">
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
</div>
<script type="text/javascript" src="/js/clrgame.js"></script>
  </body>
</html>
