<!DOCTYPE html>
 <html>
    <head>
        <title>404</title>
    </head>
    <body>
        <style>
            img{
                margin-top: 5%;
                margin-left: 20%;
            }
        </style>
        <img src="https://www.pngkey.com/png/detail/147-1473883_404-error-404-not-found-png.png" alt="">
    </body>
</html>