<!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <style>
        body{
            background-image:url(https://c1.staticflickr.com/5/4428/36401449295_e25881d153_b.jpg);
            background-repeat: no-repeat;
            background-size:cover;
           text-align: center;
        }
         .main{
           font-size: 90px;
           margin-top: 5%;
         }
         .scnd{
           font-size: 30px;
           margin-bottom: 40px;
         }       
         button{
             width: 30%;
             margin: 1.5%;
             padding: 10px;
         }
    </style>
    <div class="container">
         <h1 class="display-2 text-warning main">MOHD NABEEL</h1>
         <h1 class="display-4 scnd">A Web Developer and Designer</h1>

<a href="http://localhost:3000/portfolio"><button type="button" class="btn btn-primary btn-lg">My Portfolio </button> </a><br>
<a href="http://localhost:3000/todo"><button type="button" class="btn btn-secondary btn-lg">A To-do list Web App</button></a> <br>
<a href="http://localhost:3000/weathery"><button type="button" class="btn btn-primary btn-lg">Meet Weathery</button></a> <br>
<a href="http://localhost:3000/colorgame"><button type="button" class="btn btn-secondary btn-lg">Want to Play Games?</button></a>
     </div>
    
    </body>
</html>