<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Sulphur+Point&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <style>
    body{
      background-color: #C1DBE7;
    }
    li{
      padding:14px 14px;
    }
    .clor{
      background: #18A3ED;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .hi{
      font-family: 'Pacifico', cursive;
      font-size: 70px;
      color: white;
      margin-left: 120px;
    }
    .intro{
      color: black;
      font-size: 50px;
      font-family: 'Dancing Script', cursive;
      margin-left: 120px;
      margin-right: 120px;
    }
    .bio{
      border: 1px solid black;
      height: 400px;
      width: 300px;
      margin-left: 50px;
      float: left;
    }
    .pics{
      border: 1px solid white;
      height: 450px;
      width: 300px;
      margin-left: 500px;
      margin-top: 50px;
      border-radius: 50px;
      margin-bottom: 10px;
    }
    .main{
        color: black;
        margin-left: 110px;
        margin-right: 110px;
        padding: 10px;
    }
    .fst{
      width: 50%;
      border: 1px solid #C1DBE7;
      float: left;
      height: 512px;
      font-family: "Livvic", Helvetica, Arial, sans-serif ;
      font-style: normal;
      font-size: 20px;
      font-weight: 800;
    }
    .snd{
      width: 50%;
      border: 1px solid #C1DBE7;
      float: left;
      height: 296px;
      font-family: "Livvic", Helvetica, Arial, sans-serif ;
      font-style: normal;
      font-size: 20px;
      font-weight: 800;
    }
    .trd{
      width: 50%;
      border: 1px solid #C1DBE7;
      float: left;
      height: 198px;
      font-family: "Livvic", Helvetica, Arial, sans-serif ;
      font-style: normal;
      font-size: 20px;
      font-weight: 800;
    }
    .fth{
      width: 50%;
      border: 1px solid #C1DBE7;
      float: left;
      height: 100px;
      font-family: "Livvic", Helvetica, Arial, sans-serif ;
      font-style: normal;
      font-size: 20px;
      font-weight: 800;
      border-bottom: 1px solid black;
    }
    .cont{
      width: 50%;
      border: 1px solid #C1DBE7;
      font-family: "Livvic", Helvetica, Arial, sans-serif ;
      font-weight: 400;
      float: right;
      font-size: 22px;
      border-bottom: 1px solid black;

    }
    .ab{
      font-family: "Livvic", Helvetica, Arial, sans-serif ;
      font-weight: 600;
      font-size: 22px;
    }
    .last{
      text-align: center;
      float: none;
      margin-top: 1130px;
      font-family: 'Dancing Script', normal;
      margin-left: 0 auto;
      font-weight: 600;
    }
    .but{
      background-color: #67F1EF;
      height: 30px;
      width: 100px;
    }
    </style>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand nav" style="position:fixed; width:100%;" href="#">
    MOHD NABEEL
   </a>
    <ul class="navbar-nav ml-auto nav ">
      <li class="nav-item">My Profiles--> </li>
    <li class="nav-item"><a href="https://www.facebook.com/nabeelmd1999">
      <img src="/images/fb.jpg" width="30px" height="30px" alt=""> </a>
    </li>
    <li class="nav-item"><a href="https://www.instagram.com/nab_ansari99/">
      <img src="/images/inst.jpg" width="30px" height="30px" alt="">
    </li>
    <li class="nav-item"> <a href="https://www.linkedin.com/in/mohd-nabeel-45b615193 ">
      <img src="/images/lin.jpg" width="30px" height="30px" alt=""> </a>
    </li>
    </ul>
  </nav>
  <div class="clor">
  <p class="hi"> Hi,There!! </p>
  <p class="intro">Searching for my name....? It is on the top left corner. I am a student, currently pursuing B.Tech in ABES Engineering College
      under the branch of Electrical and Electronics Engineering. Despite of being a future electrical engineer, I love to code,playing games,creating webpages.
     So, that's me a tech geek surviving in an Electrical branch and dreaming of entering into IT field .</p>
  </div>
  <div>
  <img class="pics" src="/images/xy.jpg" alt=""><br><br>
  </div>
  <div class="main">
    <div class="fst">
  A little about me
    </div>
    <div class="cont">
   <p>What’s up, there you are! I have been expecting you. I hope you are doing fabulously well.
     If not, why don’t you go and treat yourself to a glass of coffee?
     I am going to try to keep this short, but I have a tendency to ramble on and on—so feel free to stop reading at any point.</p>
     <p>I am currently living and studying in Ghaziabad, India.
       During the daytime, you may spot me chitchatting in college campus, sipping on tea, or pretending to get things done.
       At night, you can find me cooking some codes on Codechef ,playing games, or surfing Youtube.</p>
       <p>Honestly, I don't know what I'm doing or will I achieve I want to. But yeah I'm trying hard to reach where I should be. </p>
    </div><br>
    <div class="snd">
  Education Qualifications
    </div>
    <div class="cont">
   <p class="ab">High School</p>
   <p>N.L.K.V.M Inter College,2015</p>
   <p class="ab">Intermediate</p>
   <p>N.L.K.V.M Inter College,2017</p>
   <p class="ab">Undergraduate(B.Tech)</p>
   <p>ABES Engg College,2018-2022(currently pursuing)</p>

 </div><br>
    <div class="trd">
   Workshops experienced
    </div>
    <div class="cont">
   <p class="ab">Codechef Workshop</p>
   <p>Indian Institute of Technology, Kanpur(June 2019)</p>
   <p class="ab">RoboTech Workshop</p>
   <p>ABES Engg College, Ghaziabad(August 2019)</p>
 </div>
 <div class="fth">
Projects
 </div>
 <div class="cont">
<p class="ab">Periodic Table</p>
<p>A little project using C language</p>
</div>
<div class="last">
<h2>Want to talk??</h2><br>
 <button class="but"onclick="window.location.href = 'https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=nabeelmd99@gmail.com&body=Your-Message';">Mail me</button>
</div>
</div>
  </body>
</html>
