<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="stylesheet" href="/css/todos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>
 <div class="main">
   <h1>To-Do List<i class=" far fa-calendar-plus"></i></h1>
   <input type="text" name="" value="" placeholder="Add New To-do">
<ul>
  <li><span><i class="fas fa-trash-restore"></i></span> Buy Robes</li>
  <li><span><i class="fas fa-trash-restore"></i></span> A Magic Wand</li>
  <li><span><i class="fas fa-trash-restore"></i></span> A Cauldron of Size '2'</li>

</ul>
 </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/todos.js">
    </script>
</html>
